In [1]:
from pySimFinLib import pySimFin
import matplotlib.pyplot as plt

psf = pySimFin()

In [3]:
psf.get_share_prices(['microsoft'],'2020-01-01','2024-01-01')

Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ...

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

                   SimFinId    Open    High     Low   Close  Adj. Close  \
Ticker Date
GOOG   2020-01-02        18   67.08   68.41   67.08   68.37       68.04
       2020-01-03        18   67.39   68.62   67.28   68.03       67.71
       2020-01-06        18   67.50   69.83   67.50   69.71       69.38
       2020-01-07        18   69.90   70.15   69.52   69.67       69.33
       2020-01-08        18   69.60   70.58   69.54   70.22       69.88
...                     ...     ...     ...     ...     ...         ...
MSFT   2023-12-22     59265  373.68  375.18  372.71  374.58      371.08
       2023-12-26     59265  375.00  376.94  373.50  374.66      371.16
       2023-12-27     59265  373.69  375.06  372.81  374.07      370.58
       2023-12-28     59265  375.37  376.46  374.16  375.28      371.78
       2023-12-29     59265  376.00  377.16  373.48  376.04      372.53

                     Volume  Dividend  Shares Outstanding
Ticker Date
GOOG   2020-01-02  28134620       NaN        1.376670e+10
       2020-01-03  23740120       NaN        1.376670e+10
       2020-01-06  34662980       NaN        1.376670e+10
       2020-01-07  30233860       NaN        1.376670e+10
       2020-01-08  30583540       NaN        1.376670e+10
...                     ...       ...                 ...
MSFT   2023-12-22  17107484       NaN        7.446000e+09
       2023-12-26  12673050       NaN        7.446000e+09
       2023-12-27  14872756       NaN        7.446000e+09
       2023-12-28  14327013       NaN        7.446000e+09
       2023-12-29  18730838       NaN        7.446000e+09

[2012 rows x 9 columns]